:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #f5f5f5;
}

.grid {
    display: -ms-grid;
    display: grid;
}

/*No. Across Columns*/
.grid-col-temp-2 {
    grid-template-columns: repeat(2, 1fr);
}



.grid-col-temp-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-temp-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-temp-5 {
    grid-template-columns: repeat(5, 1fr);
}

/*Grid Gaps*/

.grid-gap-01 {
    grid-gap: 0.1rem;
}
.grid-gap-02 {
    grid-gap: 0.2rem;
}
.grid-gap-03 {
    grid-gap: 0.3rem;
}
.grid-gap-04 {
    grid-gap: 0.4rem;
}
.grid-gap-05 {
    grid-gap: 0.5rem;
}

/*Titles*/
.site-title {
    border-bottom: 1px dotted var(--black);
    font-size: 1rem;
}
